<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/boostrap.css" th:href="@{/css/boostrap.css}">
	
</head>
<body>
<div class="container text-center">
	<div class="mx-auto col-10 card">
		<div class="card-header">
			<h4 th:text="${error}">Internal Server Error</h4>
		</div>
		<div class="card-body">
			<a href="/error" ><img src="static/img/error/500.png" th:src="@{/img/error/500.png}"/></a>
		</div>
		<div class="card-footer">
			<span th:text="${message}">Message</span><br/> 
			<span th:text="${exception}">Trace </span><br/>
		</div>
	</div>	    
</div>
</body>
</html>