<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Empresas</title>

<!-- Bootstrap CSS -->
<link href="./css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">		
		<h2 th:if="${list.isEmpty()}">No hay datos. Por favor verifique el archivo.</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Empresas</h2>
			<div>
				<a href="/export/all" class="btn btn-danger">Exportar</a>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Nro de Contrato</th>
						<th>CUIT</th>
						<th>Denominación</th>
						<th>Dirección</th>
						<th>Codigo postal</th>
						<th>Productor</th>
						<th>Saldo</th>
						<th>Concepto</th>
						<th>Importe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empresa : ${list}">
						<td th:text="${empresa.contract_no}">
						<td th:text="${empresa.cuit}">
						<td th:text="${empresa.denomination}">
						<td th:text="${empresa.adress}">
						<td th:text="${empresa.cp}">
						<td th:text="${empresa.producer}">
						<td th:text="${empresa.balance_ctacte}">
						<td th:text="${empresa.concept}">
						<td th:text="${empresa.amount}">
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>